* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0A2A43;
    --accent1-color: #FBBF24;
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
}

section img {
    width: 150px;
    height: 100px;
    margin-top: 30px;

}

nav a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: large;
    justify-content: space-evenly;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 80px;
    height: 80px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: #0F172A;
    text-align: center;
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
    font-size: medium;
}

footer {
    text-align: center;
    display: grid;
    grid-template-columns: 700px 1fr 1fr;
    grid-column-start: end;
    place-items: center;

}

.socialmedia {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.socialmedia img {
    width: 35px;
    height: 35px;
}

h1 {
    top: 100px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
}

h2 {
    padding: 10px;
    margin: 10px;
}

.address {
    text-align: center;
}

.address p {
    margin: 2px;
}

form {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
}

label {
    display: block;
    margin: 3px 0 4px;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

fieldset {
    margin: 15px 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 6px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background: #0077ff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}

.figure1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}