:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Georgia";
    --body-font: sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
    border: 3px black;
    justify-content: space-between;
    background: var(--secondary-color);
}
header img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-start: end;
    justify-content: space-evenly;
    gap: 20px;
}
h1, h2 {
    font-family: var(--heading-font);
    text-align: center;
    padding: 20px;
}
nav, section, section1, article {
    margin: 16px;
    padding: 8px;
}
p1, p {
    position: relative;
    text-align: center;
}
form {
    width: 350px;
    height: 350px;
    position: ;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #fff;  
}
button{
    background-color: var(--accent2-color);
    width: 300px;
}
fieldset, textarea {
    width: 300px;
    align-items: flex-end;
}
.form-item {
    display: grid;
    align-items: left;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
section1 img {
    float: right;
    width: 125px;
    border: 3px;
}

.sociamedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details {
    position: relative;
    padding: 5px;
    text-align: center;
    color: black;
}
.hero article {
    position: absolute;
    padding: 10px;
    top: 60%;
    text-align: center;
    color: white;
    opacity: 0.7;
    background-color: var(--accent1-color);
}
.hero article img {
    float: right;
    width: 125px;
    border: 3px;
    padding: 3px
    border: 4px black;
}
.figure1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-gap: 10px;
}
figure img {
    width: 150px;
    height: 80%;
    border: 3px black;
}
figcaption {
    margin-top: 8px;
    font-size: small;
    font-family: var(--body-font);
    text-align: justify;
}
footer {
    background-color: var(--secondary-color);
    display: grid;
    border: 3px black;
    grid-template-columns: 600px repeat(3, 1fr);
    grid-column-start: end;
    text-align: center;
}
footer .socialmedia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: end;

}
footer .socialmedia img {
    width: 20px;
    height: 20px;
}