:root {
--primary-color: darkgray; /* */
--secondary-color: gray;
--accent1-color: lightgray;
--accent2-color: grey;
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: Ariel, sans-serif, Helvetica; 
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 15px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.hero img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
article {
    position: absolute;
    text-align: justify;
    background-color: var(--accent2-color);
    color: #fff;
}
.hero img {
    float: right;
    width: 125px;
}
