* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0A2A43;
    --accent1-color: #FBBF24;
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
}

section img {
    width: 150px;
    height: 100px;
    margin-top: 30px;

}

.hist {
    display: flex;
    flex-direction: row;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: large;
    justify-content: space-evenly;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 80px;
    height: 80px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: #0F172A;
    text-align: center;
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
    font-size: medium;
}

figure img {
    width: 150px;
    height: 100px;
    padding: 3px;
    margin: 5px;
    border: 1px solid #fff;
}

figcaption {
    text-align: center;
}

.fig {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

footer {
    text-align: center;
    display: grid;
    grid-template-columns: 700px 1fr 1fr;
    grid-column-start: end;
    place-items: center;

}

.socialmedia {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.socialmedia img {
    width: 35px;
    height: 35px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 100px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    color: black;
}

h2 {
    padding: 10px;
    margin: 10px;
}

.hero article {
    position: absolute;
    background-color: var(--primary-color);
    top: 170px;
    color: #fff;

}

.hero article img {
    float: right;
    width: 125px;
    margin-top: 30px;
    border: 1px solid black;
}