* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0A2A43;
    /* Navy Blue */
    --secondary-color: #4DA6FF;
    /* Sky Blue */
    --accent1-color: #F15A29;
    /* River Orange */
    --accent2-color: #2E7D32;
    /* Forest Green */
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 80px;
    height: 80px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
    font-size: small;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #ffff;
}

h2 {
    background-color: var(--accent2-color);
    padding: 16px;
}

article {
    position: absolute;
    background-color: var(--primary-color);
    bottom: 20px;

}

.hero article img {
    float: right;
    width: 125px;
    margin: 10px;
    border: 1px solid black;
}
