* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding: 15px 40px;
    background: #0a3d62;
}
section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    gap: 10px;
    padding: 15px;
}
section figure{
    text-align: center;
    margin: 0;
}
section figure img {
    width: 150px;
    height: auto;
    display: block;
}
section figcaption{
margin-top: 8px;
font-size: small;
}
header img {
    height: 60px;
    border-radius: 5px;
}

nav {
    display: flex;
    list-style: none;
    gap: 25px;
}

.hero {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    max-width: 400px;
    z-index: 10;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero-content article {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(4px);
}

.hero-content article img {
    width: 100%;
    max-width: 180px;
    border-radius: 10px;
    margin-bottom: 10px;
}

main section {
    padding: 40px 60px;
}

main h2, main h3 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #0a3d62;
}

main h2 title, main h3 title {
    display: none;
}

main p {
    max-width: 800px;
    font-size: 1.1rem;
}

footer {
    display: grid;
    grid-template-columns: (3, 1fr);
    background: #0a3d62;
    color: white;
    text-align: left;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.SocialMedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: right;
    gap: 50px;
}

.SocialMedia img {
    display: block;
    align-items: end;
    width: 15px;
    height: 15px;
    transition: transform 0.3s ease;
}


