* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0A2A43;
    --accent-color: #FBBF24;
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
}

section img {
    width: 150px;
    height: 100px;
    margin-top: 30px;

}

nav a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: large;
    justify-content: space-evenly;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 80px;
    height: 80px;
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
    font-size: medium;
}

footer {
    text-align: center;
    display: grid;
    grid-template-columns: 700px 1fr 1fr;
    grid-column-start: end;
    place-items: center;

}

.socialmedia {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.socialmedia img {
    width: 35px;
    height: 35px;
}

h {
    padding: 10px;
    font-size: larger;
    color: #0F172A;
}

section {
    display: grid;
    text-align: center;
}

section img {
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 10px;
    display: block;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    width: 100%;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}

thead,
tfoot {
    background-color: #000;
    color: #fff;
    font-weight: 700;
}

.cta-btn {
    display: inline-block;
    padding: 16px 28px;
    background-color: #22D3EE;
    color: var(--text);
    font-weight: 600;
    border-radius: 12px;
    text-decoration: none;
    transition: .25s ease;
}

.cta-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}