:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Georgia";
    --body-font: sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
    justify-content: space-between;
    background: var(--secondary-color);
}
header img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-start: end;
    justify-content: space-evenly;
    gap: 20px;
}

h {
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    text-align: center;
    padding: 20px;
    color: white;
}
section {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
section img {
    width: 820px;
    height: auto;
    border: 2px black;
}
table {
    width: 840px;
    border: 2px solid rgb(140 140 140);
}
th {
    background-color: black;
    color: #fff;
}
td {
    border: 1px solid rgb(160 160 160);

}
footer {
    background-color: var(--secondary-color);
    display: grid;
    padding: 20px;
    grid-template-columns: 600px repeat(3, 1fr);
    grid-column-start: end;
    text-align: center;
}
footer .socialmedia img {
    width: 20px;
    height: 20px;
}
.sociamedia a {
    text-decoration: none;
}
