* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: ;
    --secondary-color: ;

}

nav {
    background-color: antiquewhite;
    padding: 20px;
}

nav a {
    color: black;
    padding: 10px;
    display: block;
}

h1 {
    /* display: block; */
    /* position: absolute; */
    padding: 10px;
    color: black;
    text-align: center;
}

main img {
    float: right;
    width: 200px;
    height: auto;
    border: 5px;
    box-shadow: 5px 5px 5px 5px gray;
    padding: 3px;
    background-color: antiquewhite;
}

aside {
    width: 20em;
    height: auto;
    position: relative;
    /* position: relative; */
    /* margin: 10px; */
    /* border: 2px solid gray; */
    /* padding: 10px; */
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    color: black;
    top: 60px;
    left: 120px;
}

footer {
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    text-align: center;
    background-color: bisque;
    color: black;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1rem;
    padding: 40px;
    color: black;
    background-color: blanchedalmond;
}