main {
    max-width: 840px;
}

nav {
    background-color: antiquewhite;
    padding: 20px;

}

h1 {
    padding: 10px;
    text-align: center;
}

aside {
    width: 20rem;
    margin: 10px;
    border: 2px solid gray;
    padding: 10px;
    background-color: blanchedalmond;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 5px black;
    text-align: center;
}