main {
    max-width: 840px;
}

nav {
    background-color: antiquewhite;
    padding: 20px;

}

nav a {
    color: bisque;
    padding: 10px;
    display: block;
}

h1 {
    padding: 10px;
    color: black;
    text-align: center;
}

main img {
    width: 800px;
    height: auto;
    border: 5px;
    box-shadow: 5px 5px 5px 10px gray;
    padding: 10px;
}

aside {
    width: 20rem;
    margin: 10px;
    border: 2px solid gray;
    padding: 10px;
    background-color: blanchedalmond;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 5px black;
    text-align: center;
}