* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: ;
    --secondary-color: ;

}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: antiquewhite;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: black;
    padding: 10px;
    display: block;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    display: block;
    /* position: absolute; */
    padding: 10px;
    color: black;
    text-align: center;
    border-bottom: 2px solid black;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1em;
}

main img {
    float: right;
    width: 200px;
    height: auto;
    border: 5px;
    box-shadow: 5px 5px 5px 5px gray;
    padding: 3px;
    background-color: antiquewhite;
}

aside {
    width: 20em;
    height: auto;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    color: black;
    top: 60px;
    left: 120px;
}

footer {
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    text-align: center;
    /* background-color: bisque; */
    color: black;
}

/* Class Selectors */
.box {
    max-width: stretch;
    margin: 1rem;
    border: 1rem;
    padding: 40px;
    color: black;
    background-color: blanchedalmond;
}