.callout {
    background-color: blue;
    width: 500px;
    color: white;
    padding: 10px;
    margin: 10px;
    border: 4px;

}

.callout img {
    float: right;
    width: 100px;
    height: 100px;
    background-color: bisque;
    padding: 3px;
    border: 2px black;
    margin: 10px;
}

blockquote {
    margin: 5px;
}

cite {
    display: block;
    text-align: end;
    border-top: 3px dotted;
    padding-top: 5px;
    font-size: medium;
}